.writing-detail {
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 50px;
  .container {
    width: 80%;
    position: relative;
    div {
      text-align: justify;
      margin: 0 !important;
    }

    img {
      float:left;
      max-height: 150px;
    }

  }
}
